#board {
    width:450px;
    height:450px;
    padding:0;
    display:flex;
    flex-wrap: wrap;

}

#board BUTTON {
    width:50px;
    height:50px;
    margin:0;
}
/*
#board BUTTON.clear {
	background:#404040;
}*/

.flag {
    color:#040;
}